
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list-header>Steps</ion-list-header>

    <!-- <ion-item *ngFor="let step of charlestonSteps" lines="none">
      <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
      <ion-label>{{ step.name }}</ion-label>
    </ion-item> -->


    <ion-list>
      <ion-item *ngFor="let step of charlestonSteps">
        <ion-thumbnail slot="start">
          <ion-img [src]="step.imageUrl"></ion-img>
        </ion-thumbnail>
        <ion-label>{{step.name}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
