<ion-header>
  <ion-toolbar>
    <ion-title>username</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="login-logo">
      <img src="assets/img/appicon.svg" alt="Ionic logo">
    </div> -->
  
    <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Username</ion-label>
          <ion-input [(ngModel)]="userInfos.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
  
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Username is required
          </p>
        </ion-text>
  
      </ion-list>
  
      <ion-row>
        <ion-col>
          <ion-button (click)="onSaveUserName(loginForm)" type="submit" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>
    </form>
  
  </ion-content>